.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3d3d3d;
  margin: 10px;
  border-radius: 10px;
  height: 8rem;
  height: auto;
  padding: 1.5rem;
  align-self: center;
  text-align: left;
  width: 43%;
  margin-left: auto;
  margin-right: auto;
}

#light .cards{
  background-color: #cecece
}

#dark .cards{
  background-color: #3d3d3d;
}

.card-font{
  font-size: 0.9em;
}

@media only screen and (max-width: 680px) {
}
@media (max-width: 660px) {
  .cards {
    width: 100%;
  }
}
