.nav-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.nav-top {
  display: flex;
  flex-direction: row;
  padding: 15px 60px;
  justify-content: space-between;
  max-height: 70px;
  align-items: center;
  width: 90%;
}

.nav-logo {
  font-family: dosis;
  font-weight: 700;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.mob-nav-list {
  list-style: none;
}

.nav-list > li {
  margin: 30px;
  transition: transform 0.3s ease;
}

.nav-list > li:hover {
  color: #7b3fe4;
  transform: scale(1, 1);
}

button {
  background-color: #7b3fe4;
  border-radius: 8px;
  border-style: solid;
  border-color: #f3f3f3;
  padding: 10px;
  cursor: pointer;
  color: #f3f3f3;
}

#dark button{
  color: #eeeeee
}

#light button{
  color: #111111;
}

button:hover {
  background-color: inherit;
}

.nav-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ri-lg {
  font-size: 1.8333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
  margin-right: 5px;
  color: #7b3fe4;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


.nav-right {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 5px 120px;
  justify-content: space-between;
  
  align-items: center;
}

.nav-btn {
  display: none;
  opacity: 0;
}

@media only screen and (max-width: 1080px) {
  .nav-btn {
    display: block;
    opacity: 1;
  }
  .nav-right {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    transform: translateY(-100vh);
  }
  /* .responsive-nav{
      transform: none;
    } */
}
@media (max-width: 800px) {
  .nav {
    width: 100%;
  }
}
